.main-header {
  height: 95%;
  float: left;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border-right: 1px solid black;
}

.link-header {
  height: 55%;
  width: 2em;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.game-button {
  height: 10%;
}

.character-button {
  height: 10%;

}